* {
    padding: 0;
    margin: 0;
    overflow: hidden;
    
}
body {
    background-color: #000;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.button-box {
    width: 25%;
    height: 50%;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-rows: 33% 33% 34%;
    grid-template-columns: 50% 50%;
}

.game-box {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-button {
    height: 52px;
    width: 108px;
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #ef6eae, #ef8f6e);
    background: -webkit-linear-gradient(#ef6eae, #ef8f6e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    font: 600 12px 'Fira Sans', sans-serif;
    line-height: 0px;
    margin: 0.5em;
    padding: 1em 2em;
    justify-self: center;
    align-self: center;
    transition: 2s;
}

.game-button:hover {
    box-shadow: 10px 10px #ef8f6e;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #ef6eae, #ef8f6e);
    transform: translateY(-1em);
    color: #fff;
    border: 2px solid #ef8f6e;
}

.icon-class {
    background: -webkit-linear-gradient(#ef6eae, #ef8f6e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.game-of-select {
    height: 52px;
    width: 108px;
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #ef6eae, #ef8f6e);
    background: -webkit-linear-gradient(#ef6eae, #ef8f6e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    font: 600 12px 'Fira Sans', sans-serif;
    line-height: 0px;
    margin: 0.5em;
    padding: 1em 2em;
    justify-self: center;
    align-self: center;
}

.control-button-box {
    display: none;
}

canvas {
    border: 10px white solid;
}

@media only screen and (max-width: 1000px) {
    body {
        flex-direction: column;
    }

    .game-box {
        width: 100%;
        justify-content: flex-start;
    }

    .button-box {
        width: 100%;
        height: 25%;
        grid-template-rows: 100%;
        grid-template-columns: 25% 25% 25% 25%;
    }    

    .control-button-box {
        width: 17%;
        height: 100%;
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 100%;
        justify-content: center;
        align-items: center;
    }

    .control-button {
        width: 108px;
        height: 108px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        justify-self: center;
        border-radius: 55px;
    }

    .control-button-icon {
        font-size: 108px;
        color: #3376b1;
        border: 2px white solid;
        border-radius: 55px;
    }
}
